In [32]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv("report-deep.csv")
df.head(5)

   deep
0   157
1   148
2   149
3   146
4   144

In [33]:
deep = df["deep"]
deep[:10]

0    157
1    148
2    149
3    146
4    144
5    145
6    162
7    163
8    164
9    166
Name: deep, dtype: int64

In [15]:
v_ant = deep[0]
contador_aumento = 0
for p in deep[1:]:
    #esta subiendo la profundidad
    if p > v_ant:
        contador_aumento+=1
    v_ant = p
contador_aumento

1548

In [17]:
deep = [199,
200,
208,
210,
200,
207,
240,
269,
260,
263]

In [18]:
df.shape

(2000, 1)

### nuevo problema

In [34]:
lista_aux = []
limite = len(deep) - 2
for indice in range(limite):#deep[:len(deep)-2]:
    l = deep[indice:indice+3]
    lista_aux.append(sum(l))
    #print(l)
lista_aux

[454,
 443,
 439,
 435,
 451,
 470,
 489,
 493,
 503,
 525,
 542,
 533,
 515,
 507,
 519,
 523,
 518,
 525,
 549,
 583,
 616,
 644,
 665,
 677,
 684,
 674,
 664,
 658,
 672,
 684,
 691,
 700,
 707,
 715,
 738,
 764,
 786,
 782,
 789,
 805,
 827,
 837,
 843,
 863,
 883,
 910,
 923,
 934,
 935,
 949,
 965,
 979,
 989,
 1000,
 1018,
 1032,
 1045,
 1053,
 1057,
 1079,
 1103,
 1131,
 1141,
 1146,
 1154,
 1167,
 1186,
 1204,
 1229,
 1251,
 1266,
 1273,
 1282,
 1291,
 1307,
 1313,
 1319,
 1333,
 1323,
 1298,
 1263,
 1261,
 1274,
 1275,
 1278,
 1295,
 1317,
 1348,
 1370,
 1402,
 1425,
 1445,
 1465,
 1505,
 1548,
 1585,
 1599,
 1599,
 1571,
 1560,
 1558,
 1579,
 1577,
 1578,
 1574,
 1576,
 1581,
 1591,
 1618,
 1637,
 1664,
 1675,
 1686,
 1693,
 1705,
 1720,
 1739,
 1752,
 1768,
 1775,
 1784,
 1791,
 1802,
 1812,
 1827,
 1833,
 1843,
 1846,
 1857,
 1884,
 1912,
 1924,
 1911,
 1900,
 1899,
 1904,
 1910,
 1920,
 1928,
 1932,
 1930,
 1945,
 1961,
 1979,
 1980,
 2002,
 2038,
 2074,
 2095,
 2105,
 2128,
 2144,
 2146,
 2149,
 2152,
 2172,
 2178,
 2185,
 2189,
 2201,
 2215,
 2217,
 2195,
 2162,
 2141,
 2143,
 2151,
 2168,
 2187,
 2216,
 2241,
 2261,
 2294,
 2337,
 2374,
 2395,
 2409,
 2425,
 2442,
 2446,
 2460,
 2469,
 2495,
 2513,
 2534,
 2581,
 2630,
 2676,
 2688,
 2696,
 2705,
 2710,
 2731,
 2748,
 2765,
 2781,
 2823,
 2872,
 2907,
 2927,
 2947,
 2968,
 2986,
 3018,
 3051,
 3085,
 3121,
 3154,
 3208,
 3247,
 3311,
 3347,
 3377,
 3375,
 3373,
 3358,
 3351,
 3341,
 3369,
 3400,
 3437,
 3447,
 3453,
 3456,
 3448,
 3440,
 3433,
 3452,
 3462,
 3469,
 3461,
 3472,
 3488,
 3502,
 3508,
 3517,
 3528,
 3537,
 3531,
 3528,
 3534,
 3550,
 3563,
 3565,
 3564,
 3567,
 3569,
 3571,
 3563,
 3567,
 3573,
 3589,
 3589,
 3600,
 3607,
 3629,
 3641,
 3620,
 3591,
 3557,
 3558,
 3561,
 3591,
 3643,
 3693,
 3729,
 3739,
 3776,
 3804,
 3834,
 3871,
 3909,
 3951,
 3982,
 4010,
 4040,
 4059,
 4082,
 4099,
 4105,
 4111,
 4108,
 4099,
 4081,
 4070,
 4074,
 4079,
 4083,
 4074,
 4071,
 4076,
 4084,
 4100,
 4114,
 4137,
 4145,
 4160,
 4169,
 4185,
 4192,
 4202,
 4215,
 4245,
 4269,
 4290,
 4298,
 4311,
 4328,
 4340,
 4362,
 4380,
 4392,
 4389,
 4387,
 4397,
 4423,
 4448,
 4467,
 4479,
 4492,
 4530,
 4579,
 4628,
 4652,
 4654,
 4646,
 4638,
 4630,
 4633,
 4636,
 4644,
 4653,
 4669,
 4657,
 4627,
 4588,
 4572,
 4595,
 4584,
 4583,
 4543,
 4537,
 4530,
 4520,
 4518,
 4507,
 4514,
 4515,
 4518,
 4523,
 4533,
 4546,
 4576,
 4607,
 4635,
 4642,
 4617,
 4592,
 4578,
 4617,
 4682,
 4738,
 4768,
 4772,
 4777,
 4782,
 4798,
 4828,
 4860,
 4890,
 4905,
 4918,
 4905,
 4893,
 4881,
 4904,
 4930,
 4979,
 5010,
 5056,
 5081,
 5099,
 5100,
 5095,
 5097,
 5112,
 5128,
 5145,
 5147,
 5153,
 5159,
 5163,
 5165,
 5159,
 5158,
 5178,
 5227,
 5274,
 5289,
 5280,
 5268,
 5272,
 5300,
 5330,
 5358,
 5372,
 5393,
 5413,
 5436,
 5452,
 5474,
 5479,
 5475,
 5461,
 5449,
 5446,
 5447,
 5452,
 5457,
 5466,
 5477,
 5488,
 5493,
 5503,
 5513,
 5523,
 5531,
 5539,
 5547,
 5550,
 5562,
 5575,
 5584,
 5584,
 5576,
 5579,
 5580,
 5589,
 5591,
 5616,
 5654,
 5714,
 5766,
 5809,
 5828,
 5832,
 5834,
 5854,
 5897,
 5937,
 5959,
 5962,
 5954,
 5952,
 5949,
 5964,
 5976,
 5991,
 5999,
 6008,
 6016,
 6036,
 6055,
 6071,
 6078,
 6067,
 6056,
 6044,
 6049,
 6052,
 6054,
 6056,
 6048,
 6036,
 6022,
 5995,
 5972,
 5952,
 5961,
 5971,
 5967,
 5967,
 5962,
 5975,
 5980,
 5988,
 5991,
 5992,
 5999,
 6006,
 6039,
 6097,
 6156,
 6202,
 6217,
 6232,
 6236,
 6243,
 6267,
 6291,
 6317,
 6318,
 6319,
 6315,
 6329,
 6348,
 6369,
 6376,
 6373,
 6373,
 6381,
 6395,
 6409,
 6415,
 6416,
 6413,
 6420,
 6424,
 6427,
 6437,
 6469,
 6509,
 6523,
 6524,
 6538,
 6562,
 6588,
 6596,
 6630,
 6661,
 6692,
 6668,
 6650,
 6630,
 6626,
 6615,
 6601,
 6598,
 6598,
 6602,
 6635,
 6674,
 6712,
 6737,
 6760,
 6789,
 6807,
 6818,
 6820,
 6824,
 6828,
 6840,
 6849,
 6868,
 6881,
 6892,
 6905,
 6920,
 6932,
 6933,
 6934,
 6947,
 6956,
 6958,
 6953,
 6972,
 6994,
 7027,
 7066,
 7107,
 7144,
 7157,
 7168,
 7172,
 7177,
 7185,
 7200,
 7229,
 7264,
 7288,
 7284,
 7273,
 7283,
 7311,
 7334,
 7360,
 7390,
 7422,
 7435,
 7441,
 7445,
 7456,
 7462,
 7473,
 7479,
 7496,
 7509,
 7500,
 7484,
 7472,
 7467,
 7474,
 7496,
 7530,
 7574,
 7633,
 7692,
 7726,
 7730,
 7724,
 7703,
 7679,
 7667,
 7670,
 7678,
 7692,
 7728,
 7762,
 7789,
 7793,
 7800,
 7804,
 7820,
 7831,
 7839,
 7847,
 7865,
 7881,
 7900,
 7911,
 7960,
 7999,
 8045,
 8076,
 8103,
 8127,
 8135,
 8130,
 8108,
 8086,
 8076,
 8085,
 8103,
 8121,
 8133,
 8134,
 8135,
 8139,
 8101,
 8063,
 8041,
 8083,
 8132,
 8174,
 8218,
 8263,
 8300,
 8308,
 8297,
 8276,
 8258,
 8253,
 8259,
 8263,
 8263,
 8259,
 8266,
 8305,
 8343,
 8386,
 8399,
 8404,
 8401,
 8394,
 8404,
 8415,
 8432,
 8441,
 8449,
 8472,
 8494,
 8518,
 8522,
 8532,
 8542,
 8560,
 8580,
 8581,
 8586,
 8563,
 8557,
 8524,
 8509,
 8490,
 8499,
 8507,
 8509,
 8505,
 8523,
 8546,
 8580,
 8587,
 8598,
 8594,
 8598,
 8628,
 8654,
 8680,
 8696,
 8713,
 8738,
 8750,
 8765,
 8740,
 8705,
 8673,
 8673,
 8683,
 8684,
 8711,
 8743,
 8781,
 8791,
 8787,
 8789,
 8798,
 8829,
 8860,
 8889,
 8901,
 8908,
 8925,
 8942,
 8961,
 8964,
 8955,
 8936,
 8918,
 8919,
 8912,
 8939,
 8968,
 9019,
 9035,
 9043,
 9026,
 9013,
 9022,
 9058,
 9103,
 9146,
 9185,
 9214,
 9222,
 9225,
 9235,
 9251,
 9264,
 9268,
 9272,
 9265,
 9262,
 9253,
 9253,
 9248,
 9258,
 9286,
 9319,
 9337,
 9344,
 9351,
 9362,
 9373,
 9382,
 9388,
 9390,
 9397,
 9396,
 9397,
 9399,
 9410,
 9426,
 9441,
 9452,
 9466,
 9475,
 9503,
 9525,
 9560,
 9583,
 9605,
 9603,
 9602,
 9606,
 9627,
 9642,
 9663,
 9682,
 9703,
 9718,
 9731,
 9762,
 9779,
 9797,
 9795,
 9801,
 9807,
 9805,
 9801,
 9797,
 9807,
 9819,
 9834,
 9836,
 9836,
 9830,
 9831,
 9853,
 9887,
 9923,
 9943,
 9959,
 9975,
 9990,
 10012,
 10035,
 10056,
 10054,
 10058,
 10063,
 10077,
 10110,
 10140,
 10177,
 10198,
 10227,
 10238,
 10249,
 10254,
 10270,
 10274,
 10293,
 10312,
 10343,
 10359,
 10374,
 10388,
 10384,
 10380,
 10366,
 10381,
 10396,
 10435,
 10461,
 10483,
 10496,
 10513,
 10532,
 10537,
 10538,
 10543,
 10548,
 10557,
 10574,
 10594,
 10613,
 10617,
 10625,
 10632,
 10647,
 10654,
 10662,
 10669,
 10675,
 10687,
 10699,
 10719,
 10733,
 10763,
 10785,
 10828,
 10850,
 10873,
 10881,
 10898,
 10928,
 10952,
 10971,
 10976,
 10978,
 10984,
 10990,
 11003,
 11036,
 11077,
 11111,
 11125,
 11131,
 11153,
 11168,
 11179,
 11198,
 11208,
 11217,
 11209,
 11208,
 11232,
 11251,
 11281,
 11292,
 11305,
 11315,
 11332,
 11343,
 11357,
 11364,
 11382,
 11371,
 11360,
 11342,
 11379,
 11422,
 11472,
 11487,
 11505,
 11521,
 11537,
 11543,
 11546,
 11539,
 11539,
 11537,
 11551,
 11574,
 11595,
 11613,
 11619,
 11634,
 11661,
 11692,
 11720,
 11735,
 11737,
 11733,
 11729,
 11745,
 11774,
 11815,
 11841,
 11852,
 11879,
 11907,
 11939,
 11945,
 11945,
 11945,
 11961,
 11982,
 12007,
 12014,
 12037,
 12070,
 12103,
 12127,
 12124,
 12125,
 12117,
 12133,
 12157,
 12185,
 12176,
 12159,
 12128,
 12128,
 12126,
 12137,
 12143,
 12153,
 12164,
 12178,
 12190,
 12211,
 12225,
 12232,
 12228,
 12220,
 12183,
 12144,
 12115,
 12104,
 12095,
 12089,
 12115,
 12144,
 12168,
 12176,
 12178,
 12184,
 12188,
 12198,
 ...]

In [35]:
deep = lista_aux
v_ant = deep[0]
contador_aumento = 0
for p in deep[1:]:
    #esta subiendo la profundidad
    if p > v_ant:
        contador_aumento+=1
    v_ant = p
contador_aumento

1589

### Dia 2

#### problema 1

In [39]:
df = pd.read_csv("mov-submarino.csv", sep=" ")
df.head()

       mov  incremento
0  forward           2
1     down           2
2  forward           6
3  forward           8
4     down           8

In [28]:
df.groupby(["mov"])["mov"].count()

mov
down       370
forward    405
up         225
Name: mov, dtype: int64

In [29]:
grupo = df.groupby(["mov"]).sum()
grupo

         incremento
mov
down           1810
forward        2034
up             1108

In [30]:
down = grupo["incremento"]["down"]
up = grupo["incremento"]["up"]
forward = grupo["incremento"]["forward"]

In [31]:
forward*(down-up)

1427868

### problema 2

In [40]:
v_depth = 0
v_forward = 0
r_depth =0
for i in range(df.shape[0]):
    r = df.iloc[i]
    if r["mov"] == "down":
        v_depth+= r["incremento"]
    if r["mov"] == "up":
        v_depth-= r["incremento"]
        
    if r["mov"] == "forward":
        v_forward+= r["incremento"]
        r_depth+= r["incremento"]*v_depth
v_depth,v_forward,r_depth

(702, 2034, 770963)

In [41]:
r_depth*v_forward

1568138742

### Dia 3

### problema 1

In [211]:
df = pd.read_csv("noise.csv", dtype={"report": str})
df.head()

         report
0  000001110001
1  000001111101
2  010011000000
3  000000000011
4  010000100111

In [212]:
df.shape

(1000, 1)

In [150]:
frecuencia = {x: {0:0, 1:0} for x in range(len(df["report"].iloc[0]))}

for cadena in df["report"]:
    for i in range(len(cadena)):
        frecuencia[i][int(cadena[i])]+=1

In [151]:
frecuencia

{0: {0: 508, 1: 492},
 1: {0: 493, 1: 507},
 2: {0: 499, 1: 501},
 3: {0: 506, 1: 494},
 4: {0: 492, 1: 508},
 5: {0: 492, 1: 508},
 6: {0: 473, 1: 527},
 7: {0: 494, 1: 506},
 8: {0: 505, 1: 495},
 9: {0: 503, 1: 497},
 10: {0: 514, 1: 486},
 11: {0: 514, 1: 486}}

In [166]:
cadena1 = ""
cadena2 = ""
for i in frecuencia:
    cadena1+="1" if frecuencia[i][1]>frecuencia[i][0] else "0"
    cadena2+="1" if frecuencia[i][1]<frecuencia[i][0] else "0"
cadena1, cadena2

('011011110000', '100100001111')

In [167]:
gamma_rate=int(cadena1 ,2)

In [168]:
epsilon_rate =int(cadena2 ,2)

In [169]:
epsilon_rate*gamma_rate

4118544

### problema 2

In [213]:
columnas = np.arange(len(df["report"].iloc[0]))
columnas

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [214]:
df2 = pd.DataFrame({}, columns = columnas)
for cadena in df["report"]:
    df2.loc[df2.shape[0]] = [x for x in cadena]

In [215]:
df2

    0  1  2  3  4  5  6  7  8  9  10 11
0    0  0  0  0  0  1  1  1  0  0  0  1
1    0  0  0  0  0  1  1  1  1  1  0  1
2    0  1  0  0  1  1  0  0  0  0  0  0
3    0  0  0  0  0  0  0  0  0  0  1  1
4    0  1  0  0  0  0  1  0  0  1  1  1
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  1  0  0  1  1  0  1  0  0  1  0  1
996  1  0  1  0  0  0  0  1  0  1  0  0
997  1  0  0  0  1  1  0  0  0  0  0  0
998  0  0  1  1  1  0  1  0  0  1  0  0
999  1  1  0  0  0  0  1  1  0  0  0  1

[1000 rows x 12 columns]

In [219]:
df3 = df2
for i in columnas:
    if df3.shape[0]>2:
        r = df3[i].value_counts()
        if r[0] == r[1]:
                print(f"misma cantidad {i}")
                df3 = df3[df3[i]=='1']
        else:
                df3 = df3[df3[i]==r.idxmax()]
    else:
        df_aux = df3[df3[i]=='1']
        if df_aux.shape[0]>0:
            df3 = df_aux
    if df3.shape[0] == 1:
        break
df3

misma cantidad 7

   0  1  2  3  4  5  6  7  8  9  10 11
48  0  1  0  1  1  1  1  1  0  1  1  1

In [220]:
cadena1= "".join(list(df3.iloc[0]))
cadena1

'010111110111'

In [204]:
'010111100111'

'010111100111'

In [221]:
gamma_rate=int(cadena1 ,2)
gamma_rate

1527

In [223]:
df3 = df2
for i in columnas:
    if df3.shape[0]>2:
        #df3 = df3[df3[i]==df3[i].value_counts().idxmin()]
        r = df3[i].value_counts()
        if r[0] == r[1]:
                df3 = df3[df3[i]=='0']
                print(f"misma cantidad {i}")
        else:
                df3 = df3[df3[i]==r.idxmin()]
        print(df3.shape[0])
    else:
        df_aux = df3[df3[i]=='0']
        if df_aux.shape[0]>0:
            df3 = df_aux
    if df3.shape[0] == 1:
        break
df3

492
240
112
53
23
10
2

   0  1  2  3  4  5  6  7  8  9  10 11
61  1  0  0  1  1  1  0  0  1  1  1  0

In [224]:
cadena2= "".join(list(df3.iloc[0]))
cadena2

'100111001110'

In [225]:
100111001110

100111001110

In [226]:
epsilon_rate=int(cadena2 ,2)
epsilon_rate

2510

In [ ]:
2510

In [227]:
epsilon_rate*gamma_rate

3832770

In [136]:
i = 1
df3 = df3[df3[i]==df3[i].value_counts().idxmin()]
df3

    0  1  2  3  4
5   0  1  1  1  1
11  0  1  0  1  0

In [191]:
df3 = df2

In [192]:
df3[i].value_counts()

0    514
1    486
Name: 11, dtype: int64

In [193]:
r = df3[i].value_counts()

In [194]:
r

0    514
1    486
Name: 11, dtype: int64

In [195]:
r[0]

514

### Dia 4

### problema 1

In [199]:
f = open("bingo.txt", "r")
raw = f.read()

In [200]:
l = raw.split("\n") 
l[:4]

['31,88,35,24,46,48,95,42,18,43,71,32,92,62,97,63,50,2,60,58,74,66,15,87,57,34,14,3,54,93,75,22,45,10,56,12,83,30,8,76,1,78,82,39,98,37,19,26,81,64,55,41,16,4,72,5,52,80,84,67,21,86,23,91,0,68,36,13,44,20,69,40,90,96,27,77,38,49,94,47,9,65,28,59,79,6,29,61,53,11,17,73,99,25,89,51,7,33,85,70',
 '',
 '50 83  3 31 16',
 '47  9 94 10 86']

In [201]:
lista_sorteo = np.fromstring(l[0], sep = ',', dtype= int)
lista_sorteo[:10]

array([31, 88, 35, 24, 46, 48, 95, 42, 18, 43])

In [202]:
tableros_raw = l[1:]
tableros_raw

['',
 '50 83  3 31 16',
 '47  9 94 10 86',
 '61 22 53 46 74',
 '77 41 79 55 62',
 '97 78 43 73 40',
 '',
 '99 96 20 35 21',
 '38 17 48 69 68',
 ' 9 51 32 52 11',
 '67  8 42 89 27',
 '39 62 66 72 43',
 '',
 '33 16  4 78 31',
 '96 66 13 55 18',
 '47 89 83 99 85',
 '50 43 39 34 98',
 '81 65  7 23 17',
 '',
 '24 13 57 84 50',
 '83 86 98 92  7',
 '28 31 85 21 12',
 '37 48 43 47 67',
 '19 27  1 20 16',
 '',
 '38 75  3 14  4',
 ' 8 86 98 94 83',
 '60 46 63 85 20',
 '69 26 73 40 29',
 '48 84 33 18 74',
 '',
 '13 33 37 45 22',
 '19 28 61 58 69',
 '42 14 23 39 88',
 '92 81 54 99 52',
 '57  3 34 29 62',
 '',
 '19 71 46 13 81',
 '99 34  8  7 89',
 '72 56 38 22 27',
 '52  2 44 12  4',
 '53 86 45 95 39',
 '',
 '67 12 16 60 47',
 '79 21 99 15 59',
 '81 13 64 83  4',
 '85 48 17 29 66',
 '41 97 80 51 68',
 '',
 '72 19 67  6  9',
 '63 80 78 97 43',
 '53 73 91 44 47',
 ' 3 54 41 61 70',
 '69 36 57 55 45',
 '',
 '97  7 39 48 10',
 '77 42 65 89 79',
 '24 58 23 37 15',
 '26 71 41 18 87',
 '50 88 98 43  1',
 '',
 '76 50 48 10 77',
 '27 13 18 35 24',
 '31 72 41 64  2',
 '16 43 36 81 26',
 '66 51 30 34 74',
 '',
 '93 99 19 72 58',
 ' 7 76 80 94 23',
 '87 59 30 77 49',
 '53 88 51  4 36',
 '90 38 64 70 46',
 '',
 '36 38 45 13 68',
 '12 35 57 64 29',
 '71 74 15  0 49',
 '77 21 27 84 65',
 '22 23 60 17 10',
 '',
 '84 31 99 93 98',
 '71 73 48 38 83',
 '12 74 34 57 45',
 ' 2  9 76 79 77',
 ' 0 51 72 33 29',
 '',
 '65 43 15 53 89',
 '75 55 99 59 48',
 ' 6 85 68 30 39',
 ' 5  0 47 81 95',
 '96 31 23 87 73',
 '',
 '23 88 98 43 56',
 ' 4 89 53 34 41',
 '33 37 24 27 19',
 '22 83 72 75 31',
 '68 95 77  1 49',
 '',
 '14 48 20 73 11',
 '27  1  5 61 60',
 '96 99  9 64 29',
 '42 92 59 95 81',
 '69 97 78 86 16',
 '',
 '69 10 41 13 90',
 '75 95 99 72 29',
 ' 7 85 42 77 16',
 '88 19  2 45 64',
 '14  0 83 43 70',
 '',
 '74 85 45 50  6',
 '92 19 43 97 65',
 '56 11 77  5 28',
 '16 10 54 44 63',
 ' 3 93 75 12 51',
 '',
 '40 43 92 21 90',
 ' 5 62 74 34 25',
 '88 47 65 37 83',
 '15  6 10 99 89',
 '78 56 35 75  9',
 '',
 '96 74 41 81 31',
 '35 94 48 44 21',
 '99 11 32 15 43',
 '91 34 85 23  7',
 '54 77 89 13 26',
 '',
 '18 58 19 28 69',
 '74 41 91 88 15',
 '11 86 44 99 45',
 '79 93 80 55  4',
 '70 56 37 84 78',
 '',
 '48 95 57 70 84',
 '31 73 35 77 68',
 ' 4 53 32 63 13',
 '46  3 71 88 37',
 '72 65 36 50 49',
 '',
 '75  9 36 94  3',
 '71 62 65  0 15',
 '18 31 57 35 38',
 ' 6 16 22 34 95',
 '66 29 52 73 68',
 '',
 '83 54 24 26 96',
 '36  2  3 34 95',
 '16 77 11 56 91',
 '80 10 93 42 59',
 '88 47 76 55 79',
 '',
 '51 76  4 75  7',
 '17 98 78 12 66',
 ' 1 31 52 30 45',
 '74 29  6 87 90',
 '32  9 88 13 34',
 '',
 '97 92 40 73 76',
 '21 15 34 35 45',
 ' 1 27 48 78 46',
 '95 43 17 16 20',
 '62 28 52 56 68',
 '',
 '16 86 55 23 30',
 '20 73 83 89 35',
 '42 38 87 59 69',
 ' 3 79 85 43 78',
 '84 19 18 17 33',
 '',
 '10 43  3 68 56',
 '16 52 45 77 25',
 '75 73 66 46 82',
 '41 80 99 11 93',
 '71 79 37  5 84',
 '',
 ' 9 76 96 14 52',
 '67 74 86 32  4',
 ' 6 28 31 27 23',
 '56 58 25 69 38',
 '82 91 26 15 57',
 '',
 '96 62 34 67 53',
 '99  5 27 45 63',
 '80 38  0 71 43',
 '75 49 33 36  2',
 '15 21 54 20 81',
 '',
 '96 59 72  6 38',
 '60 70 76 82 46',
 '47 53 51 64 98',
 '44 25 69 81 33',
 '73 52 10 74 55',
 '',
 '52 25 99 11 60',
 '56 63 39 43  2',
 '34 45 59  8 30',
 '51 92 90 86 98',
 '19 80 47 69 13',
 '',
 '11 98 55  6 39',
 '70 26 99 57 75',
 '52 41 81  3  5',
 '96 92 94 35 46',
 '24 78 40 58 95',
 '',
 '81 87 93 88 29',
 '61  2 11 72 31',
 '60 76 19 36 58',
 '71 43 69 94 45',
 '99  9 62 48 30',
 '',
 '84 87 15 67 54',
 '13 81 97  8 92',
 '43 60  5 19  0',
 '91 20 69  1 29',
 '23  7 74 28 53',
 '',
 '73 68 24 64 47',
 '81 35 23 95 39',
 '51 69 94 37 21',
 '97 48 66 91 55',
 '56 18 49  9 86',
 '',
 '67 96 91 73 44',
 '77 10 50 81 19',
 '63 55 46 95 97',
 ' 8 69 40 70 61',
 '31 20 92 98 72',
 '',
 '36 81 69 98 59',
 '39 15 96  9 23',
 '14 84 88 89 90',
 '45 34 22 64 50',
 '86 32 53 77 55',
 '',
 '20 62 23 29 77',
 '13  0 14 92 42',
 ' 5 88  8  1 16',
 '80 79 84 49 40',
 '46 96 71 76 25',
 '',
 '17 65 37  3 35',
 '23 22 95 91 36',
 '61 11 51 64 85',
 '81 75 53 88 62',
 '59 14 29 73 57',
 '',
 '91 87 11 35 98',
 '34  1 28 27 10',
 '92 40 64 24 43',
 '55 49 42  0 36',
 '93 19 45 21 71',
 '',
 '82 86 14 10 43',
 '44 87 62 85 38',
 '31 67  3 68 64',
 '56 36 79 78 58',
 '21 95 35 90 18',
 '',
 '90 60 20 27 80',
 '39 30 12 83 96',
 '49  4 11 98 76',
 '74 37 54 26 19',
 '35 43 92 62 34',
 '',
 '36 23 45 24 63',
 '66 34 32 67 30',
 '26  0  5 69 50',
 '21 80 96 38 93',
 '49 46 61 41 16',
 '',
 '52 97 64 34 74',
 '28 46 31 56 75',
 '44 35 63 77  8',
 ' 7 68 71 18 38',
 '61 91 49 26 15',
 '',
 '83 80 10 38 45',
 '81 99 30  3 63',
 '57 96 82 55 76',
 '75 41 86 94 46',
 '59 42 40 68 48',
 '',
 '48 43 92 50 21',
 '37 56  8 38 94',
 '73 74 35  3 52',
 ' 7 29 82 98 86',
 '57 79 22  1 14',
 '',
 '53 46  4 76 28',
 '30 80 13 69 86',
 '54 70 40 77 71',
 '58 24 59 37 91',
 '45 51 43 90 74',
 '',
 ' 5 33 59 78 84',
 ' 1 90 49 72 27',
 '76 12 31 86 11',
 '74 18 52 47 19',
 '17 16 34 25 82',
 '',
 '41 42 21 31 44',
 '70 10  8 16 55',
 '82 60 77 89 43',
 '38  4 58 90 94',
 '74 71 93 88 61',
 '',
 '60 95 12 74 56',
 '82  3 48 22 27',
 '67 49  4 42 39',
 '18 35 43 87 45',
 '76 63 54 21 19',
 '',
 '35 89 76 86 32',
 '49  9  0 91 99',
 '87 26 97 22 44',
 '21 19 48 84 33',
 '98 30 50 90 53',
 '',
 '62 77  8 16 96',
 '73 65 39 79 78',
 '12 55 86 99 60',
 ' 9 22 71 98  2',
 '24 70 75 50 41',
 '',
 '46 55 77 38 26',
 '70 19 72 88 23',
 '91 84 56 51 99',
 '49 69 90 48 14',
 '93 76 63 92 71',
 '',
 '16 76 31 17 24',
 '14 95 34 12 75',
 '37 50 74 73 41',
 '68 56 58 23 84',
 '63 26 55 15 54',
 '',
 '35 65 20 19 61',
 '56  3 40 66 26',
 '36 44 13 18 78',
 ' 8 12  9 48 51',
 ' 0 93 53 71 95',
 '',
 ' 6 63  5 47 48',
 '81 86 43 73 69',
 '55 83 36  4 33',
 '23 96 88 38 32',
 '52 85 60 53  2',
 '',
 '27 88 14 49 89',
 '17 75 34 87 96',
 '76 48 95 60 98',
 '46 22 29 30  6',
 ' 3 94 63 77 83',
 '',
 '63 98 18 73 80',
 '37 56 95 60 53',
 ' 6 97 59 17 55',
 '20 74 24 96 79',
 '19 31 61  0 38',
 '',
 '93 52 54 25 51',
 '97 94 76 31 82',
 '53 74 87 65 89',
 '22 62 92 15 73',
 '17 95  1 32 43',
 '',
 ' 5 44 76 22 33',
 '16 91 48 42 29',
 '10 13 25 69 51',
 '97  7 64 60 88',
 '32 86 74 39 68',
 '',
 '15 60 30 58 32',
 ' 2 92 49 70  1',
 '29 90 85 93 59',
 '88 95 61 55 57',
 '19  8 97 10 45',
 '',
 '49 83 66 38 97',
 '68 81 69 92 47',
 '70 32 98  4 63',
 '37 25 84 80 54',
 '31 56 51 74 57',
 '',
 '86 75 61 68 26',
 '82 81 25 69 44',
 '62 70 23 37 43',
 '29 98 39 54 33',
 '87 93 15 79 58',
 '',
 '50 54 78 51 91',
 '71 70 27 28 76',
 '49  1 48 11 83',
 '98  4 56 86 67',
 '44 23 16 17 94',
 '',
 '84 78  3 44 96',
 '59 86 70 80 48',
 '93 88 52 43 61',
 '95 66 46 62 58',
 ' 5 25  6 85 99',
 '',
 '66 40 33 10 52',
 '38 30 99 79 60',
 '75 72 59  2 53',
 '20 83 43 76 44',
 '48 46 63 15 84',
 '',
 '54 80 53 36 95',
 '59 41  5 82 52',
 '55 56 22 33 15',
 '37 10 81 79 27',
 '42 98 83 23 28',
 '',
 '94 26 80 60 62',
 '91 57 58 59 39',
 '38 29 41 86 88',
 '11 46 66 73 95',
 '78 63 12 40 89',
 '',
 '57 77 46 88 69',
 '45 89 71 43 35',
 '56 52 30 29  8',
 '68 39 64 66 28',
 '10 47 80  7 19',
 '',
 '57 37 63 90 88',
 '47 10 22 58 46',
 '95 71 24 60 23',
 ' 0 45 75 50 77',
 '73 26 36  7 79',
 '',
 '26 79 66 87 72',
 '94 29 17 57 81',
 '64 91 28 27 89',
 '95 25  4 31 86',
 '85 34  6 21 76',
 '',
 '70 35 89 57 42',
 '34 54 64 71 61',
 '11 97 92 22 10',
 ' 0 81 78  7 53',
 '63 65 39  2 25',
 '',
 '11  5 24 28 10',
 '63 35 69 49 65',
 '42  4 60 57  6',
 ' 1  2 22 81 66',
 '70  9 86 50 64',
 '',
 ' 9 73 85  6 43',
 '74 24 30 76 89',
 '38 67 60 42 78',
 '34 22 20 69 92',
 '71 79 35 17  0',
 '',
 '66 61 87 49  7',
 '60 25 39 69 27',
 '41 76 59 95 45',
 '16 99 64 34  1',
 '74 62  9 75 18',
 '',
 '24 15 47 80  0',
 '99 92 29 67 64',
 '94 27 85 97 19',
 '55 75 46 91 52',
 '32  8 76 61 14',
 '',
 '95 10 21 53 63',
 '94 90 56 13 71',
 '76 42 17 35 65',
 '31 29 57  8 64',
 '77 30 16 79 61',
 '',
 '85 57  3 67 31',
 '62 46 55 63 18',
 '95 37 71  0 24',
 '23 32 12 96 89',
 '29 17 79 82  6',
 '',
 '21 53 44 78 99',
 '73 98 85 41  8',
 '39 19 28 27 81',
 '75 38 37 74 66',
 '47 46  6 29 14',
 '',
 '58 13 76 91 23',
 ' 1 99 81 69 86',
 '45 36 22 53 16',
 '30 71 89 18 49',
 '87 95 60 75 98',
 '',
 '30 61 64 54 80',
 '22 47 84 16  8',
 '83 18 65 70 11',
 '81 23 98 26 82',
 '45 69  6 53 68',
 '',
 '38 29 43 78 85',
 '67 39 99 98 52',
 '76 82 51  3 72',
 '46 19 65 93 34',
 '90  0  7 20 74',
 '',
 '85  6 67 50 45',
 '75 79 32  2 94',
 '22 60 95 34 78',
 '90  3 58 98 61',
 '63 26 76 42 89',
 '',
 '28 64 47 36  5',
 '76 41 26 79 10',
 '14 56 92 95 22',
 '32 54 13 98 19',
 '45 11 69 71 20',
 '',
 '90 46 64 38 73',
 '48 49 28 45 98',
 '77 30 35 81 78',
 '32 92 19 34 12',
 '69 74  6 89 61',
 '',
 '36 10 29 33 37',
 '64  7 81 31 79',
 '56 15 28 51 78',
 ' 2 92 50  9 23',
 '48 73 32  4 39',
 '',
 '86 82 78 41 21',
 '22 66 65  0 47',
 '46 43 29 77 45',
 '37 88 49 90 19',
 '40 10 96 13 38',
 '',
 '96 30 45 80 77',
 '27 82 83 64 22',
 '24 56 11 20 51',
 '55 54  2 59 14',
 '76 67 90 93 46',
 '',
 '11 50 90 29 33',
 '92 81  8 19 47',
 '25 66 74 22 73',
 '28  3 97 40 67',
 '53 71 48 49 57',
 '',
 '26 78 35 27 66',
 '98 10 88 43 86',
 '93 30 75 46 56',
 '23 92 34  4 85',
 '28 38 42  3 39',
 '',
 '28 96 83 99 97',
 '61 41 73 48 23',
 '44  7 89 49 60',
 '39 76 85 26  9',
 '82 53 98  2 15',
 '',
 '84 57 27 91 69',
 '20 43 13  9 61',
 '28 18 17 71  6',
 '48 58 55 96 24',
 '56 95 34 33 15',
 '',
 '24 49 88 55 75',
 '39 95 59 80 51',
 '35  0 56  7 25',
 ' 9  1 77 64 18',
 '50 34 54 57 99',
 '',
 '60 78 56 14 90',
 '44 30 48 15 12',
 '22 54  2 33 79',
 '34  4 76 93 29',
 '38 58 35 18  5',
 '',
 '81 22  3 41 80',
 ' 0 77 72 87 30',
 '97 99 38 69 13',
 '91 71 24 56  9',
 '36 44 21 79 53',
 '',
 '88 31 62 15 77',
 '25 39 37 53 20',
 '44  0 48  4 47',
 '29 73 49  8 72',
 '68 79 84 56 41',
 '',
 '86 48 70 56 67',
 '68  7 73 55 10',
 '38 82 65 22 62',
 '51  2 34 17 53',
 '47  0 28 39 83',
 '',
 '27 18 39  0 48',
 '84 74 64 80 60',
 '28 96 37 65 57',
 '53 79 89 32 14',
 '55 63 50  7 62',
 '']

In [203]:
while '' in tableros_raw:
    tableros_raw.remove('')
tableros_raw[:5]

['50 83  3 31 16',
 '47  9 94 10 86',
 '61 22 53 46 74',
 '77 41 79 55 62',
 '97 78 43 73 40']

In [179]:
lista_tableros = []
numero_t = int(len(tableros_raw)/5)
numero_t

3

In [180]:
seccion = 0
for i in range(numero_t):
    t1 = np.empty((0, 5), int)
    for fila_raw in tableros_raw[seccion:seccion+5]:
        t1=np.append(t1, [np.fromstring(fila_raw, sep = ' ', dtype= int)], axis=0)
    lista_tableros.append((t1, np.full((5, 5), False, dtype=bool)))
    seccion+=5
lista_tableros

[(array([[22, 13, 17, 11,  0],
         [ 8,  2, 23,  4, 24],
         [21,  9, 14, 16,  7],
         [ 6, 10,  3, 18,  5],
         [ 1, 12, 20, 15, 19]]),
  array([[False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False]])),
 (array([[ 3, 15,  0,  2, 22],
         [ 9, 18, 13, 17,  5],
         [19,  8,  7, 25, 23],
         [20, 11, 10, 24,  4],
         [14, 21, 16, 12,  6]]),
  array([[False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False]])),
 (array([[14, 21, 17, 24,  4],
         [10, 16, 15,  9, 19],
         [18,  8, 23, 26, 20],
         [22, 11, 13,  6,  5],
         [ 2,  0, 12,  3,  7]]),
  array([[False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False],
         [False, False, False, False, False]]))]

In [98]:
def tableroGanadorColumnaOFila(tablero):
    for i in range(tablero.shape[0]):
        fila = tablero[i]
        columna = tablero[:,i]
        if not False in fila:
            return True
        if not False in columna:
            return True
    return False

In [130]:
def marcarTablero(tablero, tablero_m, valor):
    for i in range(5):
        for j in range(5):
            if tablero[i][j] == valor:
                tablero_m[i][j] = True
                return True
    return False

In [153]:
def calcularPuntosTableros(tablero, tablero_m):
    suma = 0
    for i in range(5):
        for j in range(5):
            if not tablero_m[i][j]:
                suma+=tablero[i][j]
    return suma

In [164]:
lista_tableros[0]

(array([[50, 83,  3, 31, 16],
        [47,  9, 94, 10, 86],
        [61, 22, 53, 46, 74],
        [77, 41, 79, 55, 62],
        [97, 78, 43, 73, 40]]),
 array([[False, False, False, False, False],
        [False, False, False, False, False],
        [False, False, False, False, False],
        [False, False, False, False, False],
        [False, False, False, False, False]]))

In [132]:
marcarTablero(lista_tableros[0][0], lista_tableros[0][1], 24)

True

In [133]:
lista_tableros[0]

(array([[22, 13, 17, 11,  0],
        [ 8,  2, 23,  4, 24],
        [21,  9, 14, 16,  7],
        [ 6, 10,  3, 18,  5],
        [ 1, 12, 20, 15, 19]]),
 array([[False, False, False, False, False],
        [False, False, False, False,  True],
        [False, False, False, False, False],
        [False, False, False, False, False],
        [False, False, False, False, False]]))

In [165]:
t_ganador = None
for numero in lista_sorteo:
    for i_table in range(len(lista_tableros)):
        marcarTablero(lista_tableros[i_table][0], 
                     lista_tableros[i_table][1], numero)
        if tableroGanadorColumnaOFila(lista_tableros[i_table][1]):
            t_ganador = i_table
            break
    if t_ganador != None:
        break
t_ganador

66

In [151]:
lista_tableros

[(array([[22, 13, 17, 11,  0],
         [ 8,  2, 23,  4, 24],
         [21,  9, 14, 16,  7],
         [ 6, 10,  3, 18,  5],
         [ 1, 12, 20, 15, 19]]),
  array([[False, False,  True,  True,  True],
         [False,  True,  True,  True,  True],
         [ True,  True,  True, False,  True],
         [False, False, False, False,  True],
         [False, False, False, False, False]])),
 (array([[ 3, 15,  0,  2, 22],
         [ 9, 18, 13, 17,  5],
         [19,  8,  7, 25, 23],
         [20, 11, 10, 24,  4],
         [14, 21, 16, 12,  6]]),
  array([[False, False,  True,  True, False],
         [ True, False, False,  True,  True],
         [False, False,  True, False,  True],
         [False,  True, False,  True,  True],
         [ True,  True, False, False, False]])),
 (array([[14, 21, 17, 24,  4],
         [10, 16, 15,  9, 19],
         [18,  8, 23, 26, 20],
         [22, 11, 13,  6,  5],
         [ 2,  0, 12,  3,  7]]),
  array([[ True,  True,  True,  True,  True],
         [False, False, False,  True, False],
         [False, False,  True, False, False],
         [False,  True, False, False,  True],
         [ True,  True, False, False,  True]]))]

In [166]:
p_tablero= calcularPuntosTableros(lista_tableros[t_ganador][0], lista_tableros[t_ganador][1])
p_tablero

1026

In [167]:
numero

66

In [168]:
p_tablero*numero

67716

### problema 2

3

In [204]:
lista_tableros = []
numero_t = int(len(tableros_raw)/5)
numero_t

seccion = 0
for i in range(numero_t):
    t1 = np.empty((0, 5), int)
    for fila_raw in tableros_raw[seccion:seccion+5]:
        t1=np.append(t1, [np.fromstring(fila_raw, sep = ' ', dtype= int)], axis=0)
    lista_tableros.append((t1, np.full((5, 5), False, dtype=bool)))
    seccion+=5
#lista_tableros

In [205]:
t_ganador = None
lista_ganadores = []
for numero in lista_sorteo:
    for i_table in range(len(lista_tableros)):
        marcarTablero(lista_tableros[i_table][0], 
                     lista_tableros[i_table][1], numero)
        if tableroGanadorColumnaOFila(lista_tableros[i_table][1]):
            t_ganador = i_table
            if not t_ganador in lista_ganadores:
                lista_ganadores.append(t_ganador)
            contador_ganadores+=1
            #break
    if len(lista_tableros) == len(lista_ganadores):
        break
lista_ganadores

[66,
 93,
 43,
 99,
 91,
 51,
 85,
 13,
 55,
 62,
 46,
 54,
 95,
 60,
 81,
 84,
 47,
 88,
 32,
 2,
 9,
 58,
 59,
 22,
 56,
 86,
 71,
 74,
 82,
 90,
 10,
 17,
 38,
 24,
 37,
 79,
 33,
 0,
 18,
 28,
 44,
 76,
 50,
 1,
 15,
 39,
 61,
 25,
 45,
 8,
 68,
 69,
 70,
 96,
 67,
 35,
 89,
 26,
 41,
 4,
 6,
 21,
 29,
 42,
 53,
 65,
 5,
 27,
 36,
 77,
 52,
 34,
 40,
 57,
 87,
 3,
 7,
 20,
 30,
 83,
 16,
 48,
 75,
 19,
 12,
 72,
 97,
 23,
 63,
 80,
 11,
 49,
 94,
 78,
 14,
 92,
 73,
 98,
 64,
 31]

In [206]:
numero

6

In [207]:
t_ganador = lista_ganadores[-1]
t_ganador

31

In [208]:
p_tablero= calcularPuntosTableros(lista_tableros[t_ganador][0], lista_tableros[t_ganador][1])
p_tablero

305

In [209]:
numero*p_tablero

1830